<h1>Scraper#index</h1>
<p>Find me in app/views/scraper/index.html.erb</p>

<button name="list_links">List Links</button>
<button name="list_pictures">List Pictures</button>




<!-- scraper#index renders a page with two buttons:

list links
list pictures
When you click on list links it should perform an ajax request to scraper#links and use scraper.get_hrefs to send back an array of links from the front page of the New York Times.

When you click on list pictures it should perform an ajax request to scraper#pictures and use scraper.get_images to send back an array of images from the front page of the New York Times.
 -->
